@media (max-width: 600px) {
  .floating-card.welcome .welcome-input {
    display: flex;
    flex-direction: column;
    margin: 0;

    align-items: center;
  }

  .floating-card input {
    padding: 10px;
    font-size: 16px; /* Ensures no zoom on mobile when focusing input */
    background-color: #9f777356;
  }
}

@media (min-width: 600px) {
  .floating-card.welcome .welcome-input {
    display: flex;
    flex-direction: row;
    margin: 0;

    align-items: center;
    justify-content: space-around;
  }

  .floating-card input {
    padding: 10px;
    font-size: 16px; /* Ensures no zoom on mobile when focusing input */
    background-color: #9f777356;
  }

  .floating-card {
    padding: 4em;
  }
}