@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap");

.card {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  cursor: pointer;
  transition: transform 0.2s;

  padding: 1% 1%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card img {
  width: 10em;
  height: 10em;
  object-fit: cover;
  border-radius: 10px;
}

@media (max-width: 600px) {
  .card {
    width: 8em;
    height: 12em;
    padding: 4px;
  }

  .card img {
    width: 98%;
    height: 100%;
  }
}
