#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.floating-card {
  display: flex;
  position: fixed;
  background-color: var(--color-primary-dark-transparent);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  z-index: 1000;

  backdrop-filter: blur(12px);
  text-shadow: 0 0 4px #0d0c0a;

  box-shadow: 1px 1px 8px #0d0c0a, -1px -1px 4px #ffffffad;
  align-items: center;
}

.floating-card h1 {
  font-size: 4em;
  margin: 0;
}

.floating-card h2 {
  font-size: 2.2em;
  font-weight: 800;
}

.floating-card p {
  font-size: 1.5em;
  margin: 0;
}

.floating-card button {
  background-color: var(--color-primary-transparent);
  color: var(--color-primary-lighter);
  box-shadow: inset -4px -4px 4px #c99dec54,
    inset 4px 4px 4px #0d0c0a54;
  border: none;
  border-radius: 24px;
  padding: 0.4em 1.6em;
  font-weight: 600;
  font-size: 1.6em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.floating-card button:hover {
  /* TODO: Update colors using css variables */
  background-color: #646cff66; 
}

.floating-card button:active {
  /* TODO: Update colors using css variables */
  background-color: #646cff46;
  box-shadow: inset -2px -2px 4px rgba(71, 77, 198, 0.166),
    inset 2px 2px 4px rgba(0, 0, 0, 0.2);
}

@media (max-width: 600px) {
  #root {
    width: 100%;
    overflow-x: hidden;
  }

  .floating-card {
    flex-direction: column;
    width: 90%;
    height: 90%;
    padding: 10px;
    justify-content: space-between;
  }
}

@media (min-width: 600px) {
  .floating-card {
    flex-direction: column;
    width: 80%;
    height: 80%;
    padding: 20px;
    justify-content: space-between;
    align-items: space-between;
  }

  .floating-card input {
    padding: 2em;

    border-radius: 16px;
  }
  .floating-card h1 {
    font-size: 5em;
  }
  .floating-card h2 {
    font-size: 3em;
  }
  .floating-card p {
    font-size: 2em;
  }
  .floating-card label {
    font-size: 2em;
  }
  .floating-card button {
    font-size: 2em;
  }
  .floating-card button:hover {
    background-color: #646cff66;
  }
  .floating-card button:active {
    background-color: #646cff46;
    box-shadow: inset -2px -2px 4px rgba(71, 77, 198, 0.166),
      inset 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
}
